.input {
  margin: 5px;
  height: auto;
  width: 340px;
  padding-left: 10px;
}
.input-container {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
}

.input-icon {
  padding: 10px;
  background: #fff;
  min-width: 50px;
  text-align: center;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  span {
    color: #4A4A4A;
  }
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

::placeholder {
  color: #fff;
  font-size: 13px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}
